# Configuración de la Base de Datos MySQL
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_HOST=localhost
DB_PORT=3306
DB_NAME=reportes_agua_cdmx

# Configuración del Servidor
API_HOST=0.0.0.0
API_PORT=8000

# Modo de desarrollo (True) o producción (False)
DEBUG=True

